@import "~bootstrap/scss/bootstrap";

// font
.rock-salt-regular {
    font-family: "Rock Salt", cursive;
    font-weight: 400;
    font-style: normal;
}

body {
    background-color: rgb(0, 0, 0);

    main {
        padding-bottom: 50px;

        .guest-card {
            height: 400px;

            .btn {
                position: absolute;
                bottom: 5px;
            }
        }
    }
}
::selection {
    background-color: white;
    color: black;
}
